@page
@model LoginModel
@using MatBlazor

@{ ViewData["Title"] = "Log in"; }

<div class="account-header-wrapper">
    <h3>@ViewData["Title"]</h3>
</div>

<div class="account-form-wrapper">
    <form id="account" method="post">
        <div asp-validation-summary="All" class="validation-message"></div>
        <div class="input-field">
            <input id="email" asp-for="Input.Email" class="form-control" />
            <label for="label">Email</label>
        </div>
        <div class="input-field">
            <input id="password" asp-for="Input.Password" class="form-control" />
            <label for="password">Password</label>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
