@page
@model RegisterModel
@{ ViewData["Title"] = "Register"; }


<div class="account-header-wrapper">
    <h3>@ViewData["Title"]</h3>
</div>
<div class="account-form-wrapper">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" class="validation-message"></div>
        <div class="input-field">
            <input id="email" asp-for="Input.Email" class="form-control" />
            <label for="email">Email</label>
        </div>
        <div class="input-field">
            <input id="password" asp-for="Input.Password" class="form-control" />
            <label for="password">Password</label>
        </div>
        <div class="input-field">
            <input id="confirmpassword" asp-for="Input.ConfirmPassword" class="form-control" />
            <label for="confirmpassword">Confirm password</label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <a id="login" asp-page="./Login">I have an account</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
