@inject PresentationController PC
@inject TasksClient TC
@*Component containing all backlog tasks - grouped by creatioh date*@

<div class="backlog-rows-container">
    @if (AllTasks != null)
    {
        @foreach (var date in AllDates)
        {
            <BacklogRow Day="@date" />
        }
    }
</div>

@code{
    public List<TaskModel> AllTasks { get; set; }

    //Get all distinct dates of tasks in backlog
    public List<DateTime> AllDates
    {
        get
        {
            return AllTasks.OrderByDescending(x => x.CreatedOn).Where(x => x.State == TaskState.Backlog).Select(x => x.CreatedOn).Distinct().ToList();
        }
    }

    protected override void OnParametersSet()
    {
        AllTasks = TC.AllTasks;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        //Update this component when tasks are being changed
        PC.OnTaskChange += StateHasChanged;
    }
}