@inject TasksClient TC
@inject PresentationController PC
@*COmponent presenting all tasks planned for the day*@

<div class="today-columns-container">
    <Column ColumnTitle="ToDo" />
    @*Blockers column is shown only if there are any blockers available - columns width set accordingly*@
    @if (Blockers.Count != 0)
    {
        <Column ColumnTitle="Blockers" />
        PC.ColumnWidth = "24%";
    }
    else
    {
        PC.ColumnWidth = "32%";
    }
    <Column ColumnTitle="Blocked" />
    <Column ColumnTitle="Done" />
</div>

@code {
    public List<TaskModel> AllTasks { get; set; }

    //Get list of all blockers
    public List<TaskModel>
    Blockers
    {
        get
        {
            return AllTasks.Where(t => t.State == TaskState.Blocker).ToList();
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        //Update this component when tasks are being changed
        PC.OnTaskChange += StateHasChanged;
    }

    protected override void OnParametersSet()
    {
        AllTasks = TC.AllTasks;
    }
}
