@*Entry point for unauthenticated users*@

<MatH3>Welcome</MatH3>
<MatH5>You are not logged in</MatH5>
<p>Please log in or sign up to start using the app.</p>
<a href="authentication/register">Register</a>
<a href="authentication/login">Log in</a>