@inherits LayoutComponentBase
@inject PresentationController PC

<MatThemeProvider Theme="PC.Theme">

    <div class="left-bar">
        <img class="logo-image" src="Logo.png" alt="Logo" />
        <div class="navigation-wrapper">
            <MatButton Class="nav-btn" Icon="today" Label="Today" @onclick="() => PC.ShowingBacklog = false"></MatButton>
            <MatButton Class="nav-btn" Icon="table_chart" Label="Backlog" @onclick="() => PC.ShowingBacklog = true"></MatButton>
        </div>
    </div>
    <!--<div class="top-bar">

    </div>
    <div class="timer-section">
        <TimerPane />
    </div>-->
    <div class="content">
        @Body
    </div>
</MatThemeProvider>
